
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ekka - Admin Dashboard eCommerce HTML Template.">

    <title>Ekka - Admin Dashboard eCommerce HTML Template.</title>
<!--    <style>-->
<!--        table.dataTable td .btn-group button:nth-last-child(-n+2) {-->
<!--            border-radius: 15px 0 0 15px !important;-->
<!--        }-->
<!--    </style>-->

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com/}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com/}" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">

    <link th:href="@{../../../../../../../../ekka/cdn.jsdelivr.net/npm/mdi/font4.4.95/css/materialdesignicons.min.css}" rel="stylesheet" />

    <!-- PLUGINS CSS STYLE -->
    <link th:href="@{/../plugins/daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/../plugins/simplebar/simplebar.css}" rel="stylesheet" />

    <!-- Ekka CSS -->
    <link id="ekka-css" th:href="@{/../css/ekka.css}" rel="stylesheet" />

    <!-- FAVICON -->
    <link th:href="@{/../img/favicon.png}" rel="shortcut icon" />

</head>
