<div class="ec-left-sidebar ec-bg-sidebar">
    <div id="sidebar" class="sidebar ec-sidebar-footer">

        <div class="ec-brand">
            <a th:href="@{index.html}" title="Ekka">
                <img class="ec-brand-icon" th:src="@{/../img/logo/ec-site-logo.png}" alt=""/>
                <span class="ec-brand-name text-truncate">Ekka</span>
            </a>
        </div>

        <!-- begin sidebar scrollbar -->
        <div class="ec-navigation" data-simplebar>
            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">

                <!-- Users -->
                <li class="has-sub">
                    <a class="sidenav-item-link" th:href="@{javascript:void(0)}">
                        <i class="mdi mdi-account-group"></i>
                        <span class="nav-text">Users</span>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="users" data-parent="#sidebar-menu">

                            <li class="">
                                <a class="sidenav-item-link" th:href="@{/admin/user-list}">
                                    <span class="nav-text">User List</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!--                    <hr>-->
                </li>

                <!-- Category -->
                <li class="has-sub">
                    <a class="sidenav-item-link" th:href="@{javascript:void(0)}">
                        <i class="mdi mdi-dns-outline"></i>
                        <span class="nav-text">Categories</span>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="categorys" data-parent="#sidebar-menu">
                            <li class="">
                                <a class="sidenav-item-link" th:href="@{/admin/sub-category}">
                                    <span class="nav-text">Category</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Products -->
                <li class="has-sub">
                    <a class="sidenav-item-link" th:href="@{javascript:void(0)}">
                        <i class="mdi mdi-palette-advanced"></i>
                        <span class="nav-text">Products</span>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="products" data-parent="#sidebar-menu">
                            <li class="">
                                <a class="sidenav-item-link" th:href="@{/admin/add-product}">
                                    <span class="nav-text">Add Product</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="sidenav-item-link" th:href="@{/admin/edit-product}">
                                    <span class="nav-text">Edit Product</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="sidenav-item-link" th:href="@{/admin/product-list}">
                                    <span class="nav-text">List Product</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>

                <!-- Orders -->
                <li class="has-sub">
                    <a class="sidenav-item-link" th:href="@{javascript:void(0)}">
                        <i class="mdi mdi-cart"></i>
                        <span class="nav-text">Orders</span>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="orders" data-parent="#sidebar-menu">
                            <li class="">
                                <a class="sidenav-item-link" th:href="@{/admin/new-order}">
                                    <span class="nav-text">New Order</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="sidenav-item-link" th:href="@{/admin/order-history}">
                                    <span class="nav-text">Order History</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="sidenav-item-link" th:href="@{/admin/order-detail}">
                                    <span class="nav-text">Order Detail</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</div>
