
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="layouts/head.html"></th:block>
<body class="shop_page">
<div id="ec-overlay">
  <div class="ec-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<!-- Header start  -->
<th:block th:insert="layouts/header.html"></th:block>
<!-- Header End  -->

<!-- ekka Cart Start -->
<th:block th:insert="layouts/ekka-cart.html"></th:block>

<!-- ekka Cart End -->

<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row ec_breadcrumb_inner">
          <div class="col-md-6 col-sm-12">
            <h2 class="ec-breadcrumb-title">User Profile</h2>
          </div>
          <div class="col-md-6 col-sm-12">
            <!-- ec-breadcrumb-list start -->
            <ul class="ec-breadcrumb-list">
              <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="ec-breadcrumb-item active">Profile</li>
            </ul>
            <!-- ec-breadcrumb-list end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Ec breadcrumb end -->

<!-- User profile section -->
<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
  <div class="container">
    <div class="row">
      <!-- Sidebar Area Start -->
      <div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
        <div class="ec-sidebar-wrap ec-border-box">
          <!-- Sidebar Category Block -->
          <div class="ec-sidebar-block">
            <div class="ec-vendor-block">
              <!-- <div class="ec-vendor-block-bg"></div>
              <div class="ec-vendor-block-detail">
                  <img class="v-img" src="assets/images/user/1.jpg" alt="vendor image">
                  <h5>Mariana Johns</h5>
              </div> -->
              <div class="ec-vendor-block-items">
                <ul>
<!--                  <li><a href="user-profile.html">User Profile</a></li>-->
                  <li><a href="user-history.html">History</a></li>
                  <li><a href="wishlist.html">Wishlist</a></li>
                  <li><a href="cart.html">Cart</a></li>
                  <li><a href="checkout.html">Checkout</a></li>
<!--                  <li><a href="track-order.html">Track Order</a></li>-->
<!--                  <li><a href="user-invoice.html">Invoice</a></li>-->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ec-shop-rightside col-lg-9 col-md-12">
        <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
          <div class="ec-vendor-card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="ec-vendor-block-profile">
                  <div class="ec-vendor-block-img space-bottom-30">
                    <div class="ec-vendor-block-bg">
<!--                      <a href="#" class="btn btn-lg btn-primary"-->
<!--                         data-link-action="editmodal" title="Edit Detail"-->
<!--                         data-bs-toggle="modal" data-bs-target="#edit_modal">Edit Detail</a>-->
                    </div>
                    <div class="ec-vendor-block-detail">
<!--                      <img class="v-img" src="assets/images/user/1.jpg" alt="vendor image">-->
                      <h5 class="name">Mariana Johns</h5>
<!--                      <p>( Business Man )</p>-->
                    </div>
                    <p>Hello <span>Mariana Johns!</span></p>
                    <p>From your account you can easily view and track orders. You can manage and change your account information like address, contact information and history of orders.</p>
                  </div>
                  <div style="display: flex">
                    <h5>Account Information</h5>
                    <a style="margin-left: 50px; font-size: 20px" href="javasript:void(0)" data-link-action="editmodal" title="Edit Detail" data-bs-toggle="modal" data-bs-target="#edit_modal"><i class="fi-rr-edit"></i></a>
                  </div>

                  <div class="row" >
                    <div class="col-md-6 col-sm-12">
                      <div class="ec-vendor-detail-block ec-vendor-block-email space-bottom-30">
                        <h6>E-mail address </h6>
                        <ul>
                          <li><strong>Email : </strong>support1@exapmle.com</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="ec-vendor-detail-block ec-vendor-block-contact space-bottom-30">
                        <h6>Contact number</h6>
                        <ul>
                          <li><strong>Phone Number : </strong>(123) 123 456 7890</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="ec-vendor-detail-block ec-vendor-block-address mar-b-30">
                        <h6>User Name</h6>
                        <ul>
                          <li><strong>User Name : </strong>123, 2150 Sycamore Street, dummy text of
                            the, San Jose, California - 95131.</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="ec-vendor-detail-block ec-vendor-block-address">
                        <h6>Password</h6>
                        <ul>
                          <li><strong>Password : </strong>123, 2150 Sycamore Street, dummy text of
                            the, San Jose, California - 95131.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End User profile section -->

<!-- Footer Start -->
<th:block th:insert="layouts/footer.html"></th:block>
<!-- Footer Area End -->

<!-- Modal -->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-6 space-t-15">
            <label class="form-label">ID: </label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-6 space-t-15">
            <!--                  <label class="form-label">Last name</label>-->
            <!--                  <input type="text" class="form-control">-->
          </div>
          <div class="col-md-6 space-t-15">
            <label class="form-label">User Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-6 space-t-15">
            <label class="form-label">Password:</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-6 space-t-15">
            <label class="form-label">Phone number:</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-6 space-t-15">
            <label class="form-label">Confirm Password: </label>
            <input type="text" class="form-control">
          </div>
          <div class="col-md-12 space-t-15 mt-5">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="#" class="btn btn-lg btn-secondary qty_close" data-bs-dismiss="modal"
               aria-label="Close">Close</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<!-- Footer navigation panel for responsive display -->
<div class="ec-nav-toolbar">
  <div class="container">
    <div class="ec-nav-panel">
      <div class="ec-nav-panel-icons">
        <a href="#ec-mobile-menu" class="navbar-toggler-btn ec-header-btn ec-side-toggle"><i
                class="fi-rr-menu-burger"></i></a>
      </div>
      <div class="ec-nav-panel-icons">
        <a href="#ec-side-cart" class="toggle-cart ec-header-btn ec-side-toggle"><i
                class="fi-rr-shopping-bag"></i><span
                class="ec-cart-noti ec-header-count cart-count-lable">3</span></a>
      </div>
      <div class="ec-nav-panel-icons">
        <a href="index.html" class="ec-header-btn"><i class="fi-rr-home"></i></a>
      </div>
      <div class="ec-nav-panel-icons">
        <a href="wishlist.html" class="ec-header-btn"><i class="fi-rr-heart"></i><span
                class="ec-cart-noti">4</span></a>
      </div>
      <div class="ec-nav-panel-icons">
        <a href="login.html" class="ec-header-btn"><i class="fi-rr-user"></i></a>
      </div>

    </div>
  </div>
</div>
<!-- Footer navigation panel for responsive display end -->

<!-- Recent Purchase Popup  -->
<div class="recent-purchase">
  <img src="assets/images/product-image/1.jpg" alt="payment image">
  <div class="detail">
    <p>Someone in new just bought</p>
    <h6>stylish baby shoes</h6>
    <p>10 Minutes ago</p>
  </div>
  <a href="javascript:void(0)" class="icon-btn recent-close">×</a>
</div>
<!-- Recent Purchase Popup end -->

<!-- Cart Floating Button -->
<div class="ec-cart-float">
  <a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
    <div class="header-icon"><i class="fi-rr-shopping-basket"></i>
    </div>
    <span class="ec-cart-count cart-count-lable">3</span>
  </a>
</div>
<!-- Cart Floating Button end -->

<!-- Whatsapp -->
<th:block th:insert="layouts/what-app.html"></th:block>

<!-- Whatsapp end -->

<!-- Feature tools -->
<th:block th:insert="layouts/feature-tools.html"></th:block>

<!-- Feature tools end -->

<!-- Vendor JS -->
<th:block th:insert="layouts/script.html"></th:block>

</body>
</html>